<ion-view title="Pic">
  <div class="bar bar-subheader item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search Me" ng-model="search">
    </label>
    <span>
      <a href="#reader/documents" class="col icon ion-document">Doc</a>
    </span>
  </div>

      <ion-content class="has-subheader" [padding="false"]>
        <ion-list>
          <div ng-repeat="author in authors">
            <div ng-repeat="picture in author.pictures track by $index">
              <ion-item class="item-divider">
                <span class="col col8"><h2>{{picture.title}}</h2></span>
                <span class="col col2">{{picture.stars}} <i class="icon ion-star"></i></span>
              </ion-item>

              <ion-item class="item-thumbnail-left item-icon-right"><!--href="#/reader/more/{{author.name}}/{{picture.id}}-->
                <img class="full-image" ng-src="{{picture.content}}" alt="{{picture.title}}"/>
                <button class="button button-clear icon ion-star" ng-click="toggleStar(picture)" ng-show="picture.star"></button>
                <ion-option-button class="button-royal"
                                   ng-click="toggleDownload(picture)"
                                   ng-hide="picture.download">
                  <i class="icon ion-android-download"></i>
                </ion-option-button>
                <ion-option-button class="button-assertive"
                                   ng-click="toggleDownload(picture)"
                                   ng-show="picture.download">
                  <i class="icon ion-android-close"></i>
                </ion-option-button>
                <ion-option-button class="button-positive"
                                   ng-click="toggleFavoris(picture)"
                                   ng-hide="picture.favoris">
                  <i class="icon ion-star"></i>
                </ion-option-button>
                <ion-option-button class="button-energized"
                                   ng-click="toggleFavoris(picture)"
                                   ng-show="picture.favoris">
                  <i class="icon ion-star"></i>
                </ion-option-button>
              </ion-item>
            </div>
          </div>
        </ion-list>
      </ion-content>

</ion-view>
