<ion-side-menus>
<!-- Begining of main content-->
  <ion-side-menu-content>
    <ion-nav-bar class="bar-latte"><!-- Header Bar shared between views -->
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
      <h1 class="title"></h1>
    </ion-nav-bar>

    <!-- Display the selected views -->
    <ion-nav-view name="main-content" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content><!-- End of main content-->

<!-- Begining of side menu/nav menu (swipe left)-->
  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Latte</h1>
    </header>

    <ion-content class="has-header side-menu">
      <ion-list class="">
        <ion-item menu-close ng-click="login()"><h2>Welcome {{name}}</h2></ion-item>
        <ion-item menu-close href="#/latte/home" class="item-icon-left">Home <i class="icon ion-cube"></i></ion-item> <!-- Access dashboard -->
        <ion-item menu-close href="#/latte/contact" class="item-icon-left">Contact <i class="icon ion-chatbox"></i></ion-item> <!-- List of Contact -->
        <ion-item menu-close href="#/latte/playlist" class="item-icon-left">Playlist <i class="icon ion-android-list"></i></ion-item> <!-- Favoris -->
        <ion-item menu-close href="#/latte/player" class="item-icon-left">YouTube Player <i class="icon ion-social-youtube"></i></ion-item>
        <ion-item menu-close href="#/latte/parameter" class="item-icon-left">Parameter <i class="icon ion-gear-a"></i></ion-item><!-- Parameter -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
