<ion-view view-title="Note List">
  <div class="bar bar-subheader item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search Me" ng-model="search">
    </label>
  </div>
  <ion-content class="has-subheader" [padding="false"]>
    <ion-list>
      <div ng-repeat="user in user">
        <div ng-repeat="note in user.notes track by $index">
          <ion-item ng-class="{'favoris': note.star}" class="item-divider">
            <h2>{{note.title}}</h2>
          </ion-item>

          <!-- Favoris Options -->
          <ion-item class="item-thumbnail item-icon-right" href="#/reader/more/{{user.user}}/{{note.id}}">
            <img ng-src="{{note.thumbnail}}" alt="{{note.title}}"/>
            <p class="padding">{{note.content}}</p>
            <ion-option-button class="button-royal"
                               ng-click="toggleDownload(note)"
                               ng-hide="note.download">
                <i class="icon ion-edit"></i>
            </ion-option-button>
            <ion-option-button class="button-positive"
                               ng-click="toggleFavoris(note)"
                               ng-hide="note.favoris">
              <i class="icon ion-star"></i>
            </ion-option-button>
            <ion-option-button class="button-energized"
                               ng-click="toggleFavoris(note)"
                               ng-show="note.favoris">
              <i class="icon ion-star"></i>
            </ion-option-button>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
