<ion-view view-title="New Note">
  <ion-content>
    <!-- Editeur de text -->
    <div class="card">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" name="title" value="" placeholder="goes here!">
      </label>

      <label class="item item-text-wrap item-input item-stacked-label">
        <span class="input-label">Your Note</span>
        <textarea type="text" name="content" placeholder="goes here!"></textarea>
      </label>

      <label class="item item-divider item-input item-stacked-label">
        <span class="input-label">Thumbnail URL</span>
        <input type="text" name="thumbnail" value="" placeholder="goes here! (default: http://placehold.it/100x100)">
      </label>
    </div>
  </ion-content>
</ion-view>
